CONTAINER_NAME=proxydev
CONTAINER_TIMEZONE=America/Sao_Paulo

# CADDY
CADDY_PORT=80
CADDY_TLS_PORT=443

# MAILTIP
MAILTIP_PORT=1025
MAILTIP_PORT_DASHBOARD=8025

# RESEND
RESEND_API_KEY=key_test_1234567890

# MYSQL
MYSQL_VERSION=8.0.32
MYSQL_DB_PORT=3306
#mysql #host.docker.internal # 127.0.0.1
MYSQL_DB_HOST=127.0.0.1
MYSQL_DATABASE=${CONTAINER_NAME}
MYSQL_USER=${CONTAINER_NAME}
MYSQL_PASSWORD=${CONTAINER_NAME}
MYSQL_ROOT_PASSWORD=root

# POSTGRES
POSTGRES_VERSION=18
POSTGRES_DB_PORT=5432
#postgres #host.docker.internal # 127.0.0.1
POSTGRES_DB_HOST=127.0.0.1
POSTGRES_DB=${CONTAINER_NAME}
POSTGRES_USER=${CONTAINER_NAME}
POSTGRES_PASSWORD=${CONTAINER_NAME}

# REDIS
REDIS_PORT=6379
REDIS_PASSWORD=${CONTAINER_NAME}
REDIS_LOG_PATH=./docker/logs/redis

# DURABULL
DURABULL_PORT=3030
DURABULL_INTERNAL_PORT=3030
DURABULL_APP_BASE_URL=http://localhost:${DURABULL_PORT}
# Generate with: openssl rand -hex 32
DURABULL_AUTH_SECRET=my-secret
DURABULL_AUTHLESS=false
DURABULL_ENV_CONNECTIONS=true
DURABULL_REDIS_URL_DEV=redis://:${REDIS_PASSWORD}@redis:6379
DURABULL_REDIS_URL_DEV_ENVIRONMENT=development
# IMPORTANT: Do NOT store production credentials here. Use a secrets manager.
# DURABULL_REDIS_URL_PROD=redis://:PASSWORD@HOST:PORT/0
# DURABULL_REDIS_URL_PROD_ENVIRONMENT=production
DURABULL_REDIS_URL_PROD=redis://:pass@localhost:6380/0
DURABULL_REDIS_URL_PROD_ENVIRONMENT=production
DURABULL_REDIS_URL_DEFAULT=DEV
# Generate with: openssl rand -hex 32
DURABULL_REDIS_URL_ENCRYPTION_KEY=
