version: '3.8'

services:

  sonarqube:
    container_name: ${CONTAINER_NAME}-sonarqube
    build:
      context: ./docker/sonarqube
    restart: always
    hostname: sonarqube
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:${POSTGRES_DB_PORT:-5432}/sonarqube
      SONAR_JDBC_USERNAME: ${POSTGRES_USER:-proxydev}
      SONAR_JDBC_PASSWORD: ${POSTGRES_PASSWORD:-proxydev}
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    ports:
      - "${SONARQUBE_PORT:-9000}:9000"
    depends_on:
      - postgres
    networks:
      - proxydev

  postgres:
    container_name: ${CONTAINER_NAME}-postgres
    build:
      context: ./docker/postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION:-13}
    restart: always
    hostname: postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-proxydev}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-proxydev}
      POSTGRES_DB: sonarqube
      TZ: ${CONTAINER_TIMEZONE:-America/Sao_Paulo}
      PGTZ: ${CONTAINER_TIMEZONE:-America/Sao_Paulo}
    volumes:
      - proxydev_postgresql:/var/lib/postgresql
      - proxydev_postgresql_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_DB_PORT:-5432}:5432"
    networks:
      - proxydev

  mysql:
    container_name: ${CONTAINER_NAME}-mysql
    build:
      context: ./docker/mysql
      args:
        - MYSQL_VERSION=${MYSQL_VERSION:-8.0.32}
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-proxydev}
      MYSQL_USER: ${MYSQL_USER:-proxydev}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-proxydev}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      TZ: ${CONTAINER_TIMEZONE:-America/Sao_Paulo}
    volumes:
      - proxydev_mysql:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "${MYSQL_DB_PORT:-3306}:3306"
    networks:
      - proxydev

  redis:
    container_name: ${CONTAINER_NAME}-redis
    build:
      context: ./docker/redis
    restart: always
    volumes:
      - proxydev_redis:/data
      - ${REDIS_LOG_PATH:-./docker/logs/redis}:/var/log/redis
    command: redis-server --requirepass ${REDIS_PASSWORD:-proxydev}
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - proxydev

  redis-webui:
    container_name: ${CONTAINER_NAME}-redis-webui
    build:
      context: ./docker/redis-webui
    environment:
      - ADMIN_USER=${REDIS_WEBUI_USERNAME:-proxydev}
      - ADMIN_PASS=${REDIS_WEBUI_PASSWORD:-proxydev}
      - REDIS_1_AUTH=${REDIS_PASSWORD:-proxydev}
      - REDIS_1_HOST=${REDIS_WEBUI_CONNECT_HOST:-127.0.0.1}
      - REDIS_1_PORT=${REDIS_WEBUI_CONNECT_PORT:-6379}
    ports:
      - "${REDIS_WEBUI_PORT:-9987}:80"
    depends_on:
      - redis
    networks:
      - proxydev
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 64M
        reservations:
          cpus: '0.05'
          memory: 8M

  mailpit:
    container_name: ${CONTAINER_NAME}-mailpit
    build:
      context: ./docker/mailpit
    ports:
      - '${MAILTIP_PORT:-1025}:1025'
      - '${MAILTIP_PORT_DASHBOARD:-8025}:8025'
    networks:
      - proxydev
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: 64M
        reservations:
          cpus: '0.05'
          memory: 8M

networks:
  proxydev:
    driver: bridge

volumes:
  proxydev_mysql:
  proxydev_redis:
  proxydev_postgresql:
  proxydev_postgresql_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
